.list 
    indexed
    ordered
    hetrogenous
    duplicate items exists
    nesting
    represntation[]
    constructoro method list()
.tuple
.set
.dictionary

In [2]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [5]:
my_tuple = 1,3,4,5,6,7,"Apple"
print(my_tuple)

(1, 3, 4, 5, 6, 7, 'Apple')

In [7]:
my_tuple = 1,4,5,6,"Apple",[7,9,76],(56,4,6,7)
print(my_tuple)

(1, 4, 5, 6, 'Apple', [7, 9, 76], (56, 4, 6, 7))

In [9]:
my_tuple = 1,4,5,35,"Apple",78,66
print(my_tuple[6])
print(my_tuple[0])
print(my_tuple[4])

66
1
Apple

In [29]:
n_tuple ="Apple","HEllo",[8,7,6,5],(67,54,34)
print(n_tuple[1][4])
print(n_tuple[0][3])
print(n_tuple[1][2])

o
l
l

In [30]:
my_tuple = ('e','r','t','f','h','d','c','b','m','x','a','i','o','p')
print(my_tuple[0:4])
print(my_tuple[:-7])
print(my_tuple[7:])
print(my_tuple[:])

('e', 'r', 't', 'f')
('e', 'r', 't', 'f', 'h', 'd', 'c')
('b', 'm', 'x', 'a', 'i', 'o', 'p')
('e', 'r', 't', 'f', 'h', 'd', 'c', 'b', 'm', 'x', 'a', 'i', 'o', 'p')

In [33]:
#Concatination
print((1,2,3)+(4,5,6,7))

(1, 2, 3, 4, 5, 6, 7)

In [35]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [37]:
my_tuple = ('a','b','c','d','e','f')
print(my_tuple.count('p'))
print(my_tuple.index('d'))

0
3

Set ->is mutable ,we can only put un-mutable  data structure in set

In [40]:
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [41]:
my_set = {1.0,"Oye",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [43]:
my_set = set([1,2,3,4])
print(my_set)

{1, 2, 3, 4}

In [47]:
my_set = {1,2,3,4,5,5,6,3,4}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [50]:
my_set = {1,2,3}
print(my_set)
my_set.add(9)
my_set.add(12)
print(my_set)

{1, 2, 3}
{1, 2, 3, 9, 12}

In [51]:
my_set.update([22,33,44])
print(my_set)

{1, 2, 3, 4, 9, 12}

In [53]:
my_set.update([14,59],{10,7,87})
print(my_set)

{1, 2, 3, 4, 5, 7, 9, 10, 12, 14, 87, 59}

removing items from set

In [55]:
my_set = {1,3,4,5,6,7}
print(my_set)

{1, 3, 4, 5, 6, 7}

In [57]:
my_set.discard(7)
print(my_set)

{1, 3, 4, 5, 6}

In [61]:
my_set.discard(6)
print(my_set)

{1, 3, 4, 5}

In [64]:
my_set.pop()
print(my_set)

{4, 5}

UNIONS

In [65]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [66]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
print(A & B)

{4, 5}

Intersection

In [72]:
A.intersection(B)

{4, 5}

In [74]:
A.intersection(B)

{4, 5}

Set Difference

In [76]:
print(A - B)

{1, 2, 3}

In [78]:
print(B - A)

{8, 6, 7}

Set symmetric difference

In [80]:
print(A ^ B)
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

Dictionary ->it have no index ,each items has a key/value pair ,where key should be unique.
           ->It is ordered collection of items.
           ->Use get method it is much safer.

In [83]:
my_dict ={'name' : 'Bob the builder','age' : '18'}
print(my_dict['name'])#try to use get method
print(my_dict.get('age'))
print(my_dict.get('address'))

Bob the builder
18
None

Add data in dictionary

In [86]:
print(my_dict)
my_dict['age'] =25 #updating 
print(my_dict)

print(my_dict)
my_dict['address'] = 'Downtown'

{'name': 'Bob the builder', 'age': 25, 'address': 'Downtown'}
{'name': 'Bob the builder', 'age': 25, 'address': 'Downtown'}