Strings

In [1]:
my_string = "Hello"
print(my_string)

Hello

In [4]:
my_string = '''Hello'''
print(my_string)

Hello

In [5]:
my_string = """Hello ,welcome to the worlds of Python"""
print(my_string)

Hello ,welcome to the worlds of Python

In [12]:
str = 'digipodium'
print('str = ',str)
print('str[0] =  ',str[0])
print('str[1] =  ',str[1])
print('str[-1] = ',str[-1])
print('str[-2] = ',str[-2])

str =  digipodium
str[0] =   d
str[1] =   i
str[-1] =  m
str[-2] =  u

In [33]:
name ='BBD maat jana, galti sa bhi nahi'
name[:15] 
name[15:]
name[-18:]

' galti sa bhi nahi'

In [37]:
username = "@edwardðŸ¤°ðŸ¤°ðŸ¤°"
print(username[1:7])
print(username[1:-3])

edward
edward

In [38]:
english ='abcdefghijklmnopqrstuvwxy'
print(english[:6])

abcdef

In [50]:
msg ='the quick brown fox jumps over the lazy dog'
print(msg[:10])
print(msg[-10:])

the quick
e lazy dog

In [54]:
x = chr(65)
print(x)
x = chr(5)
print(x)
x = chr(35)
print(x)

A

#

In [58]:
#to find the index we use ord()
y =ord('A')
print(y)
y =ord('a')
print(y)
y =ord('{')
print(y)

65
97
123

In [63]:
#concatenation
a ="apple"
b = "1kg"
ab = a+b
print(ab)

w1 = "This"
w2 = " is"
w3 =" amazing!"
msg = w1 + w2 +w3
print(msg)

apple1kg
This is amazing!

In [1]:
#Duplication
word = 'Hi'
print(word * 3)
print('-' * 25)

HiHiHi
-------------------------

String Methods
searching and replacing
1. find
2. replace

In [3]:
msg = 'the quick brown fox jumps over the lazy dog'
print(msg.find('fox'))
print(msg.find('o'))
print(msg.find('bear'))#-1 means is not found

16
12
-1

In [5]:
print(msg.replace('fox','elephant'))
msg = 'the quick brown fox jumps over the lazy dog'
print(msg.replace('o','i'))
print(msg.replace('fox','unicorn').replace('dog','rabbit').replace('jumps','vault'))

the quick brown elephant jumps over the lazy dog
the quick briwn fix jumps iver the lazy dig
the quick brown unicorn vault over the lazy rabbit

Manipulation of string into list and vice versa
1.split
2.join
3.strip

In [10]:
print(msg.split())
msg2 = "Life before death, strength before weakness,journey before destination"
print(msg2.split(','))

poem = '''Johny johny yes papa
eating suger no papa
open your mouth no papa 
i dont know '''

print(poem.splitlines())

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['Life before death', ' strength before weakness', 'journey before destination']
['Johny johny yes papa', 'eating suger no papa', 'open your mouth no papa ', 'i dont know ']

In [12]:
x = ['a','b','c','d','e']
print(" ".join(x))
print("+".join(x))
print(",".join(x))
print("".join(x))

a b c d e
a+b+c+d+e
a,b,c,d,e
abcde

" hello "
leading space(at the start b/t " and h)      trailing space(between o and ")

In [18]:
a = " apple "
b = '   rainbows'
c = ' unicorn  '
d = '''
ola
'''

print(a,b,c,d)
#to remove space leading and trailing
print(a.strip())
print(b.strip())
print(c.strip())
print(d.strip())

 apple     rainbows  unicorn
ola

apple
rainbows
unicorn
ola

Counting 
1 .count(this is sequence counting not word counting)

In [20]:
sentence = '''Once upon a time
in a land far far away,
there lived a princes 
with her pet unicorn
'''
print(sentence.count('a'))
print(sentence.count('far'))
print(sentence.count('in'))
print(sentence.count('unicorn'))

8
2
2
1

Formatting 
1. upper
2. lower
3. capitalize
4. title

In [21]:
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.title())

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
the quick brown fox jumps over the lazy dog
The quick brown fox jumps over the lazy dog
The Quick Brown Fox Jumps Over The Lazy Dog